@page "/mihistoria"

<h1>Mi historia</h1>

<p>A continuación les escribiré información relevante de mi vida.</p>

<div class="contenedor">

    <div class="card">
        <img src="imagenes/laptop.jpg" alt="Formación">
        <h3>Formación</h3>
        <p>Cuento algo sobre mi formación profesional.</p>
        <button>Conocer más</button>
    </div>

    <div class="card">
        <img src="imagenes/running.jpg" alt="Hobbies">
        <h3>Hobbies</h3>
        <p>Cuento algo sobre mis hobbies.</p>
        <button>Conocer más</button>
    </div>

    <div class="card">
        <img src="imagenes/blazor.jpg" alt="Carrera">
        <h3>Mi carrera</h3>
        <p>Cuento algo sobre lo que espero de mi carrera.</p>
        <button>Conocer más</button>
    </div>

</div>